body{
    font-family: consolas;
    background-color:#44eabb;
    ;
}

.navbar-custom{
    background-color:#080E2C;
    text-align: center;
}


nav a, nav a .navbar-brand{

    text-align: center;
    color:#44eabb;
}

.container{
    
    margin:10px;
}

.btn{
    border: #080E2C;
    background-color: #080E2C;
}

.col-md-4{
    border: 5px solid #080E2C;
    background-color: #d8e8e4;
}

.col-md-8{
    border: 5px solid #080E2C;
    background-color: #d8e8e4;
}
